[2021-04-21 15:16] hostbbb opened #3 "Great project."
Hi Daniel,  just checked project, running against your test presentation.
This on 2.3 dev server,  downloaded everything then got.

Downloading https://balancer.bbb.rbg.tum.de/presentation/32660e42f95b3ba7a92c968cdc9e0c37272cf463-1613978884363/presentation/c22f914bafe3123cd20e97db9f2d5561ddbf5ec4-1613980020412/slide-1.png
Traceback (most recent call last):
        10: from presentation-render.rb:5

[2021-04-21 15:18] hostbbb commented on #3
looks like frames not going to frame folder :)

deskshare    frame12.svg  frame16.svg  frame1.svg   frame3.svg  frame7.svg  LICENSE                 shapes.svg
frame0.svg   frame13.svg  frame17.svg  frame20.svg  frame4.svg  frame8.svg  presentation            slides
frame10.svg  frame14.svg  frame18.svg  frame21.svg  frame5.svg  frame9.svg  presentation-render.rb  video
frame11.svg  frame15.svg  fr

[2021-04-21 15:48] hostbbb commented on #3
So tried on 2.2 and also switched to develop branch for grins. same error.

[2021-04-21 15:50] aguerson opened #4 "Integration with scalelite"
Hi guy,

I think it is a really good project.
I need to test it.
Just a suggestion, in your script you download all the file and you recreate the structure you need to create the video file. Why don't just search the file on the BBB instance ( only if you have 1 BBB instance ) or on the scaling tool "scalelite".

In the case of scalelite, all the files of all the BBB instances are re-exported in a

[2021-04-21 16:19] danielpetri1 commented on #3
Hi @hostbbb ,
Thank you very much for trying out my project.

I've had this problem once and the problem was a -1 missing after the variable frameNumber on line 114. But if you used the most recent code it must be a different issue.

Does the code work if you comment out all lines related to the slides? (113, 114, 115 and 132, 133, 134).
Were the PNG frames up to 20 created in the frames folder?

[2021-04-21 16:34] danielpetri1 commented on #4
Hi @aguerson ,
Thank you for taking a look at my project. It is very much still in its infancy, so your feedback is appreciated.

You are correct that the current code recreates the structure needed to create the video file. That is currently so because I don't have a BBB server running yet, so everything was done client-side.

Once I have a server up and running, the files will be taken from the

[2021-04-21 17:23] hostbbb commented on #3
nothing created in frames, i commented out the lines, its running now and doing some ffmpeg stuff...  I'm using you same test presentation from university.

[2021-04-21 18:33] danielpetri1 commented on #3
In that case, can it be that you don't have librsvg installed?

I'm going to replace the test presentation with a short one, since it is over 8 and a half hours long, taking up a lot of space and time to process (40 minutes on my PC). For now I recommend you try it out with your own past recordings, but I'll upload the test version in a few moments.

[2021-04-21 19:11] aguerson commented on #4
Yes you are right.
I need to test your code to give you me feedback. I am using https://github.com/jibon57/bbb-recorder since a while, and I hope your approach is fastest.

See you soon,
Regards,
Aurelien.

[2021-04-22 11:15] hostbbb commented on #3
it it ran created the 8 hour mp4,  first few slides and 2 vi cams appeared for part, then
![image](https://user-images.githubusercontent.com/519542/115705228-4bcba500-a33a-11eb-96bf-c34e0a04cd93.png)

i got this for most of the eight hours.

Yes. this is just stock BBB server.  let me look to install librsvg and rerun

[2021-04-22 11:18] hostbbb commented on #3
sdame@199:/var/www/bigbluebutton-default$ sudo apt-get install -y librsvg2-2
Reading package lists... Done
Building dependency tree
Reading state information... Done
librsvg2-2 is already the newest version (2.40.13-3ubuntu0.2).
librsvg2-2 set to manually installed.
0 upgraded, 0 newly installed, 0 to remove and 97 not upgraded.

looks like 16.,04 2.2 has this installed already

[2021-04-22 11:25] hostbbb commented on #3
here is the output with a few errors, again this is just master, with the 6 lines commented out, running on 2.2. bbb server
.mp4 of 8 hours in generated.  just mostly with image above

sdame@199:~/BBB-Whiteboard$ ruby presentation-render.rb
Downloading https://balancer.bbb.rbg.tum.de/presentation/32660e42f95b3ba7a92c968cdc9e0c37272cf463-1613978884363/shapes.svg
Downloading https://balancer.bbb.rbg

[2021-04-22 15:07] danielpetri1 commented on #3
Thank you for the log file Stephen, I will look into it now.

[2021-04-22 18:02] danielpetri1 commented on #3
Hi,
a few things I noticed: it doesn't seem like the whiteboard-timestamps-svg file was created on your server, and that the FFmpeg version is different from the one on my PC.

At the moment I'm running everything client-side on a Mac since I don't have a BBB backend to work with yet. Once I get my hands on one, which should be soon, I'll be able to work on fixing these bugs.

Good to know that li

[2021-04-22 23:22] hostbbb commented on #3
i was generating whiteboard-timestamps-svg, attached below...  no worries about this issue i will dig into the code this weekend some with your latest master.   getting a few smaller reference recordings to be able to unit test would be great.   so easy to confirm everything works as improvements are made.   if you need a bbb server let me know. will provide for you.  We have a bunch. I pinged you

[2021-04-23 16:15] danielpetri1 commented on #3
The text file created by the code shouldn't have any format attached to it, so it's surprising to see .txt there... can you try renaming it to whiteboard-timestamps-svg only, with no extension?

The most recent code contains this reference recording:
https://balancer.bbb.rbg.tum.de/playback/presentation/2.3/f5c1fdc86039b1cd48cb686d38ec0eb6be27dfc7-1619030802001?meetingId=f5c1fdc86039b1cd48cb686d38

[2021-04-23 23:31] hostbbb commented on #3
github would not allow svg to upload.. so added .txt to attach to issue.  Will try new recording in morning.Sent via the Samsung Galaxy S21 Ultra 5G, an AT&T 5G smartphone
-------- Original message --------From: Daniel Petri Rocha ***@***.***> Date: 4/23/21  12:15 PM  (GMT-05:00) To: danielpetri1/BBB-Whiteboard ***@***.***> Cc: Stephen ***@***.***>, Mention ***@***.***> Subject: Re: [danielpetri1/

[2021-04-25 13:51] JaegerP opened #6 "Add cli utility?"
Hi Daniel,
I'm planning to use BBB for a conference in which we plan to record the talks. I realized WAY too late that there is no default way to download the videos, so I would like to add a script that allows something like

`bbb-downloader <base_url>`

to download videos. Would that be a useful addition to this project?

[2021-04-25 14:21] JaegerP commented on #6
Update: on the BBB server I'm using, the urls of the video files seem to be different 'video/webcams.mp4' and 'deskshare/deskshare.mp4' throw 404s. Any idea?

[2021-04-25 15:45] hostbbb commented on #6
By default in 2.2 presentation.yml only creates .webm files in recordings. You can edit and switch this to .mp4

[2021-04-26 08:26] danielpetri1 commented on #6
Hi @JaegerP ,
That would certainly be a useful addition to this project. I'm going to attempt to add it now.

Note that since you have access to the BBB server, you don't have to download the files: referencing the files directly instead would be much faster and save you a lot of time and space.

[2021-04-26 08:49] JaegerP commented on #6
I actually don't have access to the server - now I can download the .webm files, but I haven't figured out how to use them in the script (I don't know a whole lot about ruby, so I haven't tried too too hard).

Our conference goes live later today (as I said, I realized way WAY too late), so we'll have to go with screencast recording. I'd still be interested to push this forward, if I can be of hel

[2021-04-26 18:31] danielpetri1 commented on #6
Ah, I see!
I added some very basic CLI to hopefully make it easier to use (it is far from complete though), with the usage being explained in the README.

I hope your conference went well regardless, screencast recording currently does seem to be the best option. If your conference is public / does not contain anything private, I can run the script on it for you if you wish.

Thanks for offering h

[2021-05-02 00:51] JaegerP commented on #6
Thanks, I think the conference went pretty well.

We ended up not doing recordings in BBB at all, but I will keep testing. Unless I'm mistaken it should be possible to decode .webm files using ffmpeg as well, so hopefully this can be incorporated in your script. I'll let you know if I make any progress.

Since you've added a CLI, maybe we should close this issue and start a new one on the decoding

[2021-05-05 06:28] spider-x opened #9 ":85:in `require': cannot load such file -- nokogiri"
Hello, i'm trying to run your script on windows 10, i have installed ruby with DEVKIT. But it still showing me this error. Can you tell me what to do? And where should i put the ffmpeg and librsvg files? Thank you for help.
`<internal:C:/Ruby30-x64/lib/ruby/3.0.0/rubygems/core_ext/kernel_require.rb>:85:in `require': cannot load such file -- nokogiri (LoadError)
        from <internal:C:/Ruby30-x64

[2021-05-05 13:13] danielpetri1 commented on #6
Hi, yes, the idea is to have many different transparent webm files for each one of the layers (e.g. mouse, presentation) to recreate the video. This way the user will be able to customize the output video further.

[2021-05-05 13:13] #6 closed

[2021-05-05 13:17] danielpetri1 commented on #9
Hey, this script isn't tested on windows 10 at all, but it looks like nokogiri isn't installed on your system yet.

The script will create the necessary folders that will hold the files for ffmpeg.

Kind regards,
Daniel

[2021-05-07 11:18] spider-x commented on #9
The problem solved command :
`ridk exec pacman -S mingw-w64-x86_64-libxslt
gem install nokogiri --platform=ruby -- --use-system-libraries`

[2021-05-07 11:18] #9 closed

[2021-05-07 11:21] spider-x opened #12 "presentation-render.rb:19:in `open': no implicit conversion of URI::HTTP into String (TypeError)"
Hello, it is showing me this error. Can you tell me what to do? Thank you.
`presentation-render.rb:19:in `open': no implicit conversion of URI::HTTP into String (TypeError)
        from presentation-render.rb:19:in `block in download'
        from presentation-render.rb:18:in `open'
        from presentation-render.rb:18:in `download'
        from presentation-render.rb:25:in `block in <main>'

[2021-05-07 14:54] danielpetri1 commented on #12
Are you using the version of the client that was pushed yersterday?

[2021-05-07 14:55] danielpetri1 commented on #12
Can you try with the reference recording? You need the " " around the link

[2021-05-07 18:31] spider-x commented on #12
I had old version. Now with new version it shows 404 error. I have tried to enter the url both with and without " " . When i put the link to the web browser it is working. Just  files /shapes.svg and /video/webcams.mp4 are not on the server (404 error)
`
C:/Ruby30-x64/lib/ruby/3.0.0/open-uri.rb:364:in `open_http': 404 Not Found (OpenURI::HTTPError)
        from C:/Ruby30-x64/lib/ruby/3.0.0/open-ur

[2021-05-07 18:41] spider-x commented on #12
It seems that the webcams.mp4 file is webcams.webm on our server.

[2021-05-08 14:00] hostbbb commented on #12
edit  presentations.yml to  have -mp4, and new recordings  will have .mp4 generated.  needed for working on MAC/IOS devices.

[2021-05-08 14:11] spider-x commented on #12
I know this, but server administrator don’t want allow mp4 format. He is saying that mp4 and webm together consumes too much disk space.

[2021-05-08 14:19] hostbbb commented on #12
only need -mp4,  if you need to support apple/ios devices this should be the setting... (webm not needed)

you can also use ffmpeg cmd line changes and make daniels script also work with .webm

[2021-05-08 19:41] danielpetri1 commented on #12
If you replace every instance of .mp4 with .webm, the script should still work.

Did you manage to download the files?

Kind regards,
Daniel

[2021-05-08 19:43] #3 closed

[2021-05-08 21:04] spider-x commented on #12
I have changed every ".mp4" to ".webm" in the *.rb files . Now  it shows new error `
[AVFilterGraph @ 0000012efc694740] No such filter: 'scale=w=1280:h=720:force_original_aspect_ratio=1,pad=1280:720:-1:-1:white'
Error initializing complex filters.
Invalid argument
`

[2021-05-10 08:44] danielpetri1 commented on #12
I don't know what could be causing this error. Does the whiteboard render with this command?

ffmpeg -f concat -i whiteboard_timestamps -c:v libvpx-vp9 -b:v 2500k -pix_fmt yuva420p -metadata:s:v:0 alpha_mode=\"1\" -vsync vfr -auto-alt-ref 0 -y whiteboard.webm

[2021-05-10 15:28] mokkin opened #15 "core.rb:384:in `parse': undefined method `split' for nil:NilClass"
I tried out your exporter, but unfortunately I am getting this error:
[code]
ruby 2.7.0p0 (2019-12-25 revision 647ee6f091) [x86_64-linux-gnu]
Ubuntu 20.04

[2021-05-10 20:39] danielpetri1 commented on #15
Thanks for informing me of this. Hadn't considered links in the 2.3 format yet.

In download_client.rb change the first function to this:

[code]

[2021-05-25 09:27] #12 closed

[2021-05-25 09:27] #15 closed

[2021-05-25 14:15] mokkin opened #20 "ffmpeg syntax error"
I'm getting:
[code]

[2021-05-25 14:28] danielpetri1 commented on #20
Hi, sorry this isn't clear given the file extension, but the command should be copy and pasted directly into the terminal:

[code]

[2021-05-25 14:46] mokkin opened #21 "render whiteboard error"
while `ruby render_cursor.rb` & `ruby render_chat.rb` are successfull `ruby render_whiteboard.rb` throws an error:
[code]

[2021-05-25 15:24] danielpetri1 commented on #21
Does it work if you change line 39 to

`xhtml = @doc.xpath('//xmlns:g/xmlns:switch/xmlns:foreignObject', 'xmlns' => 'http://www.w3.org/2000/svg')` ?

[2021-05-25 18:20] mokkin commented on #21
Indeed it does!

[2021-05-25 18:20] #21 closed

[2021-05-29 17:55] yvikt opened #26 "arrangement of webcams"
Hi, is it possible to arrange cameras in column, but not in grid, like in original bbb recordings?
As I understand, it happens here
https://github.com/danielpetri1/bbb-recording-exporter/blob/46c0625e19445eff5a0a370da5609cf505e1acd4/render_whiteboard.rb#L238
Thank you.👍

[2021-05-30 15:49] danielpetri1 commented on #26
Hi, the script works by taking the merged webcam files big blue button provides, not the raw data. So currently that is not possible.

[2021-05-30 17:07] #20 closed

[2021-06-01 15:43] yvikt commented on #26
Oh, l understand. Thank you.

[2021-06-01 15:44] #26 closed

[2021-06-01 21:44] mokkin opened #27 "Integration with docker"
We are using BBB with the [docker script](https://github.com/bigbluebutton/docker). Unfortunately I cannot simply add the files there.
Please try to integrate it in the docker script.

[2021-06-04 14:02] felcaetano opened #28 "Feature request: add quality options"
Add parameters to the quality of the final video: resolution, FPS, bitrate and so on.
Disk space is really an issue for us, so would be interesting to tune these options to make the final file the smallest possible while maintaining some quality.

On a side note: congratulations for this amazing job. This has been a long request feature for us, your solution is simple, yet efficient and elegant.

[2021-06-04 16:16] felcaetano opened #29 "Feature request: Notify when the process is done"
I believe there are two main ways to achieve this.

1- Using the 'meta_bbb-recording-ready-url' just like described in
https://github.com/bigbluebutton/bigbluebutton/blob/fe403dfd05fe38ca50eb0ef319c22c2cc62f2c43/record-and-playback/core/scripts/post_publish/post_publish_recording_ready_callback.rb
So, to user needs to send the callback URL as a parameter the moment the meeting is created.
The mess

[2021-06-07 19:43] felcaetano opened #30 "Bug when there is no cursor to render"
When the meeting has no cursor events, ffmpeg tries to fetch a file that doesn't exist.

My guess this is probably because of the lines:

https://github.com/danielpetri1/bbb-recording-exporter/blob/8dafa298a482f89ee4958a60bbe713ebedf0089d/render_cursor.rb#L124-L126
frame_number is actually 0 and

Contents of cursor_timestamps:
`file /var/bigbluebutton/published/presentation/{meetind-id}/cursor/cur

[2021-06-07 20:18] danielpetri1 commented on #30
Hi @felcaetano ,
Thank you for pointing this bug out. I haven't had any problems just removing that last line entirely, but FFmpeg's documentation recommended it. I'll check whether it really is necessary.

[2021-06-07 20:26] danielpetri1 commented on #27
Hi @mokkin,
Thank you for your suggestion - I wasn't aware of this docker installation. It certainly is a must-have once the script is done.

[2021-06-07 20:31] danielpetri1 commented on #28
Great idea. Fortunately FFmpeg makes tweaking these kinds of parameters easy.

Thank you for these kind words, I am surprised by the warm embrace the BBB community has given me so far =)

[2021-06-07 20:33] felcaetano commented on #30
I think this might cause a problem regardless, because the concat file will be empty and ffmpeg might not be expecting that.
So you'll probably need to add some more 'ifs' in here

https://github.com/danielpetri1/bbb-recording-exporter/blob/8dafa298a482f89ee4958a60bbe713ebedf0089d/render_whiteboard.rb#L231

 if you want to deal with that

In my environment I literally just added a 0x0 frame at the

[2021-06-09 23:21] felcaetano commented on #30
Seems to be working! I didn't experience any problems so far.

[2021-07-02 15:32] deepaksinghkr opened #31 "How and where to locate the files for deletion"
Hi Daniel,

I am using the server side script for mp4 generation and wants to delete the meeting.mp4 files as well as any other raw files related to the meeting id. This is just to make the server space free once the mp4 file is downloaded for offline use.
Can you pls let me know where and how to delete all the recording related files ? and if it is possible to delete it by Delete API of BBB.

Tha

[2021-07-02 16:01] hostbbb commented on #31
the delete api, moves the published presentation folder /var/bigbluebutton/deleted, you use cron to delete these every so often.

currently this program adds the meeting.mp4 in the standard html5 recording folder.   So deleting will delete both the html5 and .mp4 versions of the recordings.

if you look in the presentation folder you can also see the temp objects the the exporter created as well s

[2021-07-05 09:04] blu-IT commented on #27
@mokkin Hi,

I have BBB 2.3 installed with docker (bbb-install-script) and it is no problem to copy the *.rb files ind the mentioned folder.

[2021-07-05 09:17] blu-IT opened #32 "Start script for existing recordings?"
Hi,

I copied the files as explained to the server. Do I have to start/trigger the rendering for the videos manually when some recordings **already exist** on the server?

Thanks!

[2021-07-05 09:27] blu-IT opened #33 "How to modify greenligt file for download?"
Hi,

where do I find the file

`app/views/admins/components/_server_recording_row.html.erb`

mentioned here

https://github.com/danielpetri1/greenlight/commit/72c2165e4a504aa40e116a83864de36dea540b65#diff-85f840dbcf9f4c943b923268c312f12c61c4700ddc140ebcf3d4c29cf736c55a

for a integration of a download-button in greenlight?

I installed bbb with docker install script...

Thanks!

[2021-07-05 09:53] hostbbb commented on #32
bbb-record --rebuild a particular meeting will trigger the post_process.rb and generate .mp4,  but the raw archives still need to be on the server.    If you have lots of recordings, DONT do --rebuildall,  and make sure you have a backup of /var/bigbluebutton/published  since the  rebuild deletes the html5 recordings.

the ruby scripts will run at command line... i set the meetingID - ARGV[0] and

[2021-07-05 10:33] blu-IT commented on #32
OK, thanks!

[2021-07-05 10:33] #32 closed

[2021-07-05 20:20] felcaetano commented on #32
You can run scripts manually using:

./render_chat.rb -m **_meetingID_**  -f presentation
./render_cursor.rb -m **_meetingID_**   -f presentation
./render_whiteboard.rb -m **_meetingID_**   -f presentation

Where **_meetingID_**  is your... you know... meetingID. And the scripts must run in this exact order.

I'm not sure if you need the meeting raw files. Maybe you just need the published ones. (

[2021-07-10 21:19] danielpetri1 commented on #31
Hi @deepaksinghkr,
Since the latest version, the scratch files are automatically deleted once rendering completes.

Kind regards,
Daniel

[2021-07-10 21:19] #31 closed

[2021-07-25 02:26] jpmirandaa opened #34 "doubts on how to update to the new bbb-recording-exporter version"
Hi,

1. Is it necessary to compile FFmpg with `--enable-librsvg` and `--enable-libx264`? Does Bigbluebutton not have it installed from the install.sh script?
2. Having installed the previous version of bbb-recording-exporter, is it necessary to delete the files  `render_chat.rb`, `render_cursor.rb`, and `render_whiteboard.rb` in `/usr/local/bigbluebutton/core/scripts/post_publish`

I have already

[2021-07-25 14:34] shad00m opened #35 ""is a directory" on pdf-export and client-side branches"
Hey,
on export_slides.rb I'm getting the following:

[code]

and on export_presentation.rb I get this:

[code]

I had to remove "deskshare" from the download as my presentation doesn't have one. FFMPEG is compiled with the required flags set.

[2021-07-25 15:14] shad00m commented on #35
recompiling ffmpeg with the "librsvgdec.c" and setting FFMPEG_REFERENCE_SUPPORT to TRUE works now.
I thought it's not mandatory

[2021-07-25 19:02] shad00m opened #36 "Dragging Lines, shapes and text graphical issues"
When dragging lines or shapes on a slide the shapes are drawn multiple times, see this video as an example:
https://user-images.githubusercontent.com/9115740/126910281-0ccb62ec-2795-4149-acc1-f7ace4b99b54.mp4

Also when removing one written character it doesn't remove it which results in multiple characters in one space, see this image:
![Screenshot 2021-07-25 205936](https://user-images.githubuse

[2021-07-26 01:31] alis-maroc opened #37 "Client side how to"
Hi
Thanks for the solution, i make server exporter but client side how to do please ?
Where put download_client.rb ?

Thanks again

[2021-07-26 08:19] danielpetri1 commented on #36
Hi @shad00m.
do the problems get resolved when you set `REMOVE_REDUNDANT_SHAPES` to true in  `export_presentation.rb`?

[2021-07-26 11:19] danielpetri1 commented on #37
Hi, I'm not sure I understand your question - you can just leave `download_client.rb` in the directory it comes in and then run it from there.

[2021-07-26 11:20] danielpetri1 commented on #34
Hi @jpmirandaa,

1. BBB's FFmpeg is already compiled with `--enable-librsvg` and `--enable-libx264`. No further actions are needed.
2. Yes, please remove the old export scripts, and replace them with export_presentation.rb only.

[2021-07-26 11:32] danielpetri1 commented on #35
Hi @shad00m,
Thanks for sharing this bug. Yes, it should not be required to recompile ffmpeg with librsvgdec.c .

Can I take a look at the shapes.svg file? It seems like a directory path is being passed to the base64 function, when it should only be receiving file paths.

[2021-07-26 11:46] danielpetri1 commented on #35
Adding this as the first line in the `base64_encode` method should fix the problem:

 `return "" if File.directory?(path)`

[2021-07-26 12:32] alis-maroc commented on #37
Thanks for your response...
If i have understand, i have to download directory to my server and run file ?
But where to download client side files ?
Excuse me but i dont understand how to do with client side files...

Thanks again

[2021-07-26 12:42] danielpetri1 commented on #37
The client-side code is meant for people that want to download a recording from the webplayer directly, even if the server does not offer this functionality. Since you seem to have access to a server, you can add the script to it and then this functionality will be offered by default.

[2021-07-26 13:04] alis-maroc commented on #37
Ah OK
I wonder if this client side is for users to show download button or some like this to facilitate downloading from playback file..
I guess they have to write adresse of mp4 file to downlaod it..

[2021-07-26 13:07] danielpetri1 commented on #37
To add a download button to Greenlight, you can make [these](https://github.com/danielpetri1/greenlight/commit/72c2165e4a504aa40e116a83864de36dea540b65) changes in Greenlight.

I'm aware this is not that easy to follow - in a few week's time I'll write proper step-by-step instructions.

Cheers

[2021-07-26 13:07] #37 closed

[2021-07-26 13:11] alis-maroc commented on #37
Thanks very much...

[2021-07-26 14:50] danielpetri1 commented on #28
The code now has a video quality option.

[2021-07-26 14:50] #28 closed

[2021-08-05 17:45] SaeedFazlollahzadeh commented on #33
Hello,

It is located at `/usr/src/app/` inside the greenlight, so the full path is `/usr/src/app/app/views/admins/components/_server_recording_row.html.erb`

[2021-08-12 14:03] #36 closed

[2021-08-12 14:03] #35 closed

[2021-08-12 14:03] danielpetri1 commented on #34
Documentation has been updated.

[2021-08-12 14:03] #34 closed

[2021-08-15 07:02] SaeedFazlollahzadeh opened #38 "What is download_client.rb and meeting_id.mp4 in meeting_id directories"
Hello,

First of all I should say thanks for this work which is highly appreciated:)

My question is

1. what is the role of file `download_client.rb` and is that necessary to place it somewhere?
I mean I cloned this git repo in my server in a path like `/root/`, and only moved the files `export_presentation.rb` and `lib/interval_tree.rb` to mentioned directories with executive rights, and since t

[2021-08-15 14:35] danielpetri1 commented on #38
Hi @SaeedFazlollahzadeh,
The `download_client.rb` file was accidentaly pushed to the main branch. It's only needed for the client-side version of the script. Thanks for mentioning it, it's now gone.

As for the other files, they do not look like something my script would create. Did you try any other exporting scripts like tilmanmoser's bbb-video-download? I believe his script outputs files in tha

[2021-08-15 14:50] SaeedFazlollahzadeh commented on #38
Hi @danielpetri1 and thanks for the reply,

What is the client-side version? Is that something before existed and it's gone now?

I use tilmanmoser's bbb-video-download in another server, but it only generates `video.mp4` and yours generates `meeting.mp4`. But in this server I only user your script, and I'm not sure why, but I will investigate more for these files.

Regarding information, this ser

[2021-08-15 15:38] danielpetri1 commented on #38
@SaeedFazlollahzadeh the client-side version is on another branch of this repo. It's meant for people that do not have access to a server, such as students wanting to download lectures they attended.

Since you're on Ubuntu 2.2, you need to set `REMOVE_REDUNDANT_SHAPES` to true in the script. Otherwise, the annotations will look weird in your videos.

Regards
Daniel

[2021-08-15 15:50] SaeedFazlollahzadeh commented on #38
@danielpetri1 could you please make and example of annotations looking weird? There are many videos and I did not see all of them, but I just saw some of them and I did not find any strange things.

[2021-08-15 16:02] danielpetri1 commented on #38
@SaeedFazlollahzadeh [Here's](https://user-images.githubusercontent.com/9115740/126910281-0ccb62ec-2795-4149-acc1-f7ace4b99b54.mp4) an example.

[2021-08-16 09:26] soheilrahsaz opened #39 "Unicode RTL Language writing on whiteboard"
Hello
First of all, thank you for this beautiful feature.
Everything works fine and is the exact thing as seen on the recording, except for one thing that I have encountered.
Writing Persian on the whiteboard doesn't appear correctly in the final video.

This is the expected result in the BBB presentation link:
![image](https://user-images.githubusercontent.com/38767606/129541602-40524260-2ddd-4e3

[2021-08-16 11:17] seanvip opened #40 "Syntax error"
I followed the directions and gave the files the permissions, but I get the following error when attempting to create one mp4 file using the command - ./export_presentation.rb -m 95cd1ac087f121fb0e67269562efa67186ce8a4f-1628822429170 I get the following output:
sh: 1: Syntax error: Unterminated quoted string
An error occurred rendering the video.

[2021-08-16 12:08] danielpetri1 commented on #40
Hi @seanvip,
Can you please share some more information?

Which version of Ubuntu/BBB are you on? When you  copied the code, did you include the shebang comment in the first line? Does running ruby export_presentation.rb -m 95cd1ac087f121fb0e67269562efa67186ce8a4f-1628822429170 work? What about enclosing the meeting ID in quotes?

I had never seen this before, thanks for mentioning it.
Regards
Dan

[2021-08-16 12:13] danielpetri1 commented on #39
Hi @soheilrahsaz,
Can you send me the link of a recording in which this problem occurs so I can try to fix it?
I believe it will be challenging since I don't speak persian.

Does the chat work for you?
Regards
Daniel

[2021-08-16 12:33] soheilrahsaz commented on #40
The chat works fine as expected.

This is the link:
https://bbb79.hamkelasi.co/playback/presentation/2.3/72e0ac9f552304448a78a59e9dee75c35500858c-1629096371434
And this is the exported file
https://bbb79.hamkelasi.co/presentation/72e0ac9f552304448a78a59e9dee75c35500858c-1629096371434/meeting.mp4

And this was the string I put into the box:
"سلام من به شما یاران قدیمی"
But any other text should be

[2021-08-16 12:33] soheilrahsaz commented on #39
The chat works fine as expected.

This is the link:
https://bbb79.hamkelasi.co/playback/presentation/2.3/72e0ac9f552304448a78a59e9dee75c35500858c-1629096371434
And this is the exported file
https://bbb79.hamkelasi.co/presentation/72e0ac9f552304448a78a59e9dee75c35500858c-1629096371434/meeting.mp4

And this was the string I put into the box:
"سلام من به شما یاران قدیمی"
But any other text should be

[2021-08-16 12:36] danielpetri1 commented on #40
Perfect, thanks, I'll take a look into it.

[2021-08-16 12:40] danielpetri1 commented on #39
@soheilrahsaz  Perfect, thanks, I'll look into it.

[2021-08-16 13:29] danielpetri1 commented on #39
Hi @soheilrahsaz,
Is it fixed now?
Cheers

[2021-08-16 23:08] seanvip commented on #40
Hi Daniel,

I am running Ubuntu 18.04.5, BBB 2.3. The shebang is included. When I got the files, I cloned the whole repo into root and moved the appropriate files. I did double check in vim and the shebang is there. I tried the ruby command and enclosing the meeting id in quotes and still got the same syntax error. I tried the following commands:
ruby export_presentation.rb -m 95cd1ac087f121fb0e67

[2021-08-17 04:26] soheilrahsaz commented on #39
Thank you for your fast response.
I'm getting this error now:

[code]

[2021-08-17 08:49] danielpetri1 commented on #39
Was it with the same input?

[2021-08-17 08:56] danielpetri1 commented on #39
Does it work when you set line 223 to line = Loofah.fragment(line.to_s).scrub!(:strip).text.unicode_normalize ?

[2021-08-17 09:02] soheilrahsaz commented on #39
It appears to be working now, I'll let you know if how's the final result video.

[2021-08-17 09:07] danielpetri1 commented on #39
Thanks for the quick reply. Interesting, I had the same problem on the server, but trying the code locally worked before. Probably something to do with the Loofah/Nokogiri version.

[2021-08-17 09:08] soheilrahsaz commented on #39
It is fixed now.
Thank you!!

[2021-08-17 09:08] danielpetri1 commented on #39
![Screenshot 2021-08-17 at 11 08 38](https://user-images.githubusercontent.com/33319791/129697663-ca6e3555-ae93-4aed-963c-67e303d06a40.png)
This is how it looks like to me.

[2021-08-17 09:09] danielpetri1 commented on #39
Great, perfect. I'll push the changes.

[2021-08-17 09:09] #39 closed

[2021-08-17 09:29] soheilrahsaz opened #41 "Prettier Output"
Hello
Again Thank you for this code and your quick replies and fixes.
After showing the result to the end-user, I received some suggestions just to make the output video look prettier to the end-user eyes:
1- Adding some margin from top-right-bottom-left. (especially for the chat part)
2- Adding some sort of separation lines to distinguish between whiteboard and chat
![image](https://user-images.g

[2021-08-17 10:36] danielpetri1 commented on #40
Hi Sean, thanks for your reply.
Do other recordings work or is it a problem with this specific one?

[2021-08-17 23:16] seanvip commented on #40
Hi Daniel,

I did try the export command with my other meetings and got the same error. I did also try rebuilding all of them (using bbb-record --rebuildall). Unfortunately, when I rebuilt them, it did not encode an mp4 file, so I think it errored out at some point and thus didn't encode them. Since I am on a tight time frame to get all of this stuff up and running, I was forced to remove your enc

[2021-08-18 12:42] hostbbb commented on #40
@seanvip , would be good if you can provide us a link to the original html5 recording that had the issueto debug this.  @danielpetri1 approach scales very well, and a recording takes about 10-15% the meeting duration to convert.  Where as the approaches use a docker, and chrome screen capture, and requite lots of cpu,  A 2hr class takes 2hrs to convert, since it has to playback in frame grabber.

[2021-08-18 23:11] seanvip commented on #40
@hostbbb and @danielpetri1, I have no problem providing the URL to the recording if it helps with your project. The recording is located at - https://christianwaymissions.com/playback/presentation/2.3/2c718a13d4b2a298a98811841bbfddf8f15b7921-1629073441971

However, our server isn't always running since AWS charges us for uptime usage, and we don't need it running all the time. It is typically runn

[2021-08-20 12:22] felcaetano opened #43 "Use a temporary file to meeting.mp4"
The final file 'meeting.mp4' is being written in its final location while is being processed.
This causes a problem, because if you try to download it before the rendering is over, your server will reply with a HTTP 200, but offer you a broken file.
I believe it should be written on a temporary file first and moved afterwards.

[2021-08-21 00:05] felcaetano opened #44 "Question about the ffmpeg"
I'd love a little bit more info on how to compile the FFMPEG to support references.
Which FFMPEG version should I use as base?
Is there a problem installing it while there is already a FFMPEG package installed?  Could my version be overwritten if they update the ffmpeg package?
What configure options should I use before compiling?
<details>
  <summary>Probably this one? As outputed in a 'ffmpeg -v

[2021-08-21 09:20] msh13792 opened #45 "File on Processing"
hi
how can i know File on Processing and final output file completed or not?

[2021-08-21 09:50] felcaetano commented on #45
You can check the log at "/var/log/bigbluebutton/post_publish.log"

You can also setup a callback URL to notify you. But it requires having a webservice to process it. Check: https://docs.bigbluebutton.org/dev/api.html#recording-ready-callback-url

Right now this callback only works because BBB runs ruby scripts in alphabetical order after each step of the recording process ([source](https://docs.

[2021-08-21 10:02] felcaetano commented on #29
Maybe this issue doesn't make sense anymore. Previously the scripts' filename started with "render_*" so everything used to run after the "post_publish_recording_ready_callback.rb".
Now it starts with "export" so one could use the native BBB callback if they feel like it.

[2021-08-22 15:24] danielpetri1 commented on #43
Good point - that can be easily fixed by changing all instances of `meeting.mp4` to `tmp.mp4` and then renaming the rendered file after FFmpeg returns true.

[2021-08-22 17:48] felcaetano commented on #32
As @hostbbb pointed out, rebuilding all is a bad idea if you have lots of recordings.
First, because you'll also rebuild the original html5 recordings. That will consume time and it's unnecessary.
Second, because you won't trigger the export for recordings that you don't have the raw files anymore (By default BBB keep the raw files for 15 days IIRC).

I made a script to export all recordings on my

[2021-08-22 19:38] danielpetri1 commented on #44
On my personal computer, I downloaded FFmpeg's source and configured it with the parameters given in the command you listed. These tutorials were followed:

https://www.youtube.com/watch?v=v_tssMtCP0s
https://www.youtube.com/watch?v=zl4vo0dhLRk
https://trac.ffmpeg.org/wiki/CompilationGuide/

There weren't any problems installing it for me personally, even though I had another version on my compute

[2021-08-23 18:07] danielpetri1 commented on #29
@hostbbb shared the following `mp4CallBack.sh` script to achieve this with me:

[code]

[2021-08-24 09:08] felcaetano commented on #44
I actually managed to compile the ffmpeg on a BBB server, but only using latest code from ffmpeg repo. Using the BBB repository gives segmentation fault when you use ffmpeg with -nostat (don't ask me why)
I'm pasting the steps, but as you said, I don't think the trouble is worth it.
Lets hope they include your patch on their main soon. Great work BTW.

<details>
  <summary>Steps </summary>
  #from

[2021-08-24 09:08] #44 closed

[2021-08-24 11:44] danielpetri1 commented on #44
@felcaetano Thank you so much, I got it working now as well. By adding `movtext` in `--enable-decoder` and ènable-encoder`, the captions can be supported too.

Cheers!

[2021-08-25 08:51] #33 closed

[2021-08-25 08:56] blu-IT commented on #33
Thanks!

[2021-08-25 08:59] blu-IT commented on #32
Thanks!

[2021-08-25 10:25] danielpetri1 commented on #43
Thanks for the commit - just saw your fix after implementing it a bit differently, so that chapter marks and captions read in the modified file too.

[2021-08-25 10:25] #43 closed

[2021-08-25 10:26] #29 closed

[2021-08-25 10:28] #38 closed

[2021-08-25 11:14] gschwed commented on #33
**ad download button in Greenlight:**
There is no need to modify Greenlight. The button will appear automatically if there is a folder in bigbluebutton/published/mp4 with the mp4 file inside plus a well formatted metadata.xml.
Greenlight always searches the folders for existing metadata.xml.
In this file you can also define the name of the button for Greenlight.
![Clipboard02](https://user-images.

[2021-08-25 11:17] gschwed commented on #33
@danielpetri1
Please contact me directly for futher cooperation!
g.schwed at think-modular.com

We (my company www.think-modular.com) do a lot with BBB and want to improve this wonderful software as well as your helpful plugin.

Greetings from Wien

[2021-08-25 16:26] danielpetri1 commented on #33
Hi @gschwed,
Thanks for this very promising solution.
Could you please share the metadata XML of the translation test you did above?
I would then integrate your solution into the exporting script.

Regards,
Daniel

[2021-08-25 16:35] danielpetri1 commented on #33
Nevermind, just saw that changing the playback link suffices using the same file.

Thank you very much!

[2021-08-25 17:06] felcaetano opened #46 "Especial char on chat.svg breaks FFMPEG"
We had a meeting where someone managed to join with a special character on it's username, I'm not sure how yet.
This causes a major problem on ffmpeg. (Generating like 100 lines of error each second. 😳)
I'm not sure how to solve this, but I'm providing the log, XML and SVG.
I believe you can just replace the XML in any other meeting to reproduce the error.

[chat.zip](https://github.com/danielpetr

[2021-08-27 16:10] #46 closed, assigned to nobody

[2021-08-29 15:44] msh13792 opened #48 "Change processing time"
hi
how to Change processing time to prepare mp4 files?

[2021-08-29 17:42] danielpetri1 commented on #48
Hi @msh13792,
Thanks for reaching out. I unfortunately did not understand your question. Could you be a little bit more specific?

Thanks in advance

[2021-08-29 18:16] msh13792 commented on #48
i should explain when "export_presentation" was working on recorded video to prepare mp4 files that is consume more CPU of my server and it was bad effected on meeting that was opened on server ,i want to know that is a way to change time of processing "export_presentation" automatically for example on 1AM to 8AM of day ?
i hope you can understand exactly what i want.
Thank you for your attention

[2021-08-29 19:07] danielpetri1 commented on #48
To reduce resource usage you can turn the SVGZ option on in the script and set THREADS to 1.
You could disable the presentation workflow entirely and only let it run from 1AM to 8AM with a cronjob.

[2021-08-31 14:24] danielpetri1 commented on #33
Hi @gschwed,
The latest version of the code automatically adds these buttons to Greenlight.

[2021-08-31 16:07] gschwed commented on #33
@danielpetri1,
Many thanks! :-)

[2021-08-31 16:24] RPHr5TyZ commented on #27
Hi Daniël,

I have a BBB 2.3 docker install, same as @mokkin and @blu-IT mentioned. I just copied the two ruby scripts into the mentioned folders and made them executable. No further tweaking. Yet no luck with my first conversion trial... (Please look at the very extensive message below).

Any suggestions?

Regards,

Peter

root@meetings:/usr/local/bigbluebutton/core/scripts/post_publish# ./export

[2021-08-31 18:04] danielpetri1 commented on #41
Hi, unfortunately I won't have the time to work on visual enhancements, since the focus is currently on the functionality.
Nonetheless, PRs are more than welcome.

Regards
Daniel

[2021-08-31 18:07] danielpetri1 commented on #40
Hi Sean,
I tried to access the server many times during the past 2 weeks but never seemed to caught a moment were it was turned on.

I'll keep trying and keep you posted.
Regards,
Daniel

[2021-08-31 20:35] RPHr5TyZ commented on #27
Hi @danielpetri1

I unzipped the code and copied the files to the indicated folders. How can anything go wrong with that? Yet I will try to double-check.

"Inwinteren - ZwarteBij.org" is the title of a lecture, and this is the link: https://meetings.competency.nl/playback/presentation/2.3/525ded7cc26438f85b01b0597a0202d25980638d-1625158099592

Thank you very much for your help! I really appriciate

[2021-08-31 22:40] danielpetri1 commented on #27
@RPHr5TyZ Bedankt! I could reproduce the problem, the "-" in the title of the lecture was making the  video renderer think it's a new command. Escaping it made it work.

Here's your video file: https://we.tl/t-FLvadiDqUM

Let me know when you got it and I'll delete the link then.

[2021-08-31 22:55] RPHr5TyZ commented on #27
@danielpetri1

Great! I downloaded the file and watched for a few seconds. Looks promising! You can delete the link.

Sleep well!

[2021-09-01 09:59] danielpetri1 commented on #27
Closing since it is compatible with the Docker install.

[2021-09-01 09:59] #27 closed

[2021-09-01 13:44] gschwed commented on #41
Hi @danielpetri1 and @soheilrahsaz ,
I fully vote for that changes in the layout.

What has to be done to include the lines?
What can we do to help?

[2021-09-05 03:59] soheilrahsaz commented on #41
Hello @gschwed
Unfortunately, I don't know Ruby.  So It takes a bit longer for me to actually figure it out.

[2021-09-06 18:33] RPHr5TyZ commented on #27
@danielpetri1

Any indication when?

Best regards,

Peter

[2021-09-06 18:42] danielpetri1 commented on #27
@RPHr5TyZ change line 591 to the following:

`render << "-metadata title=\"#{meeting_name}\" #{BENCHMARK} #{@published_files}/meeting-tmp.mp4"`

And make rendering quicker by setting
`CHAT_CANVAS_WIDTH = 640`

[2021-09-07 06:18] RPHr5TyZ commented on #27
@danielpetri1

I'll give it a try. Many thanks!!

[2021-09-10 08:47] pielonet commented on #4
Hi,

I tested your script today and I confirm It is compatible with Scalelite and Greenlight.
Thanks and congratulations,
Thierry

[2021-09-10 10:17] pielonet commented on #45
Hi,
For standard recording processing (presentation), BBB Api sets a parameter "state" with value "processing" for the recording while it is being processed (https://docs.bigbluebutton.org/dev/api.html#getrecordings):

 Is it also true for your script "Video" ? That is : can I rely on this parameter to know if BBB is still processing mp4 file ?

Kind regards,
Thierry

[2021-09-10 10:56] hostbbb commented on #45
If the MP4 recording format, had its own metadata.xml and was structured in folder correctly. then  getRecordings would return the states of presentation, notes, mp4 etc formats when a meetingID was specified.

currently the script just places the mp4 in the presentation folder.

[2021-09-10 12:47] pielonet commented on #45
This is really annoying : I have a script that waits for BBB server to finish processing recordings and then shutdowns the server. So I must make sure all recordings are processed including mp4 file.
@danielpetri1 Can you modify this contribution as to have it adhere to the same "format" structure as "presentation" ? You would have to create a "video" format for example. Does it make sense ?

[2021-09-10 14:43] danielpetri1 commented on #45
Hi @pielonet, I get what you mean: having the exporter as its own separate workflow, instead of an extension to the presentation one. This is how BBB will integrate the script in the 2.5 and beyond version from what I have heard.

In the meantime, you could modify the worker for the process/publish phase of the presentations to call the exporting script so it is part of recording processing (or se

[2021-09-10 14:48] danielpetri1 commented on #40
Hi @seanvip,
Now that the server is running, I am getting a 404 - Not Found error. It would be of great help if you could provide another recording.

As a guess to fix your problem - changing `-metadata title='#{meeting_name}'`in the script to `-metadata title=\"#{meeting_name}\"´ could help.

[2021-09-10 14:50] danielpetri1 commented on #4
Hi @pielonet, that's great to hear, thank you!

[2021-09-10 17:24] RPHr5TyZ commented on #27
@danielpetri1

I'll give it a try. Many thanks!!

[2021-09-10 17:26] RPHr5TyZ commented on #27
@danielpetri1

Code change successful!

[2021-09-11 14:33] hostbbb opened #49 "2.4 feature add for external video urls in chat."
2.4 recording has new url in chat for youtube external video,  does not render in mp4

![image](https://user-images.githubusercontent.com/519542/132951305-0d21ea5c-95c4-43ab-af74-a2d735e09cf9.png)

have link for test recording if needed. in skype

[2021-09-12 12:30] #40 closed

[2021-09-14 10:46] mailalaki opened #50 "Edit chat text style"
Hi daniel,
first I want to thank you for this practical project.

Is it possible to change the "direction" (rtl), "text-align", "font-family" and "line-height" in the text of chats.
I want to Suitable it for Persian language.

I tried to do this by editing this line `376`:
`builder.style { builder << "text{direction: rtl; text-align: right; font-family: arial; line-height: 1.5; font-size: #{CHAT_F

[2021-09-16 12:14] danielpetri1 commented on #50
Hi @mailalaki,

Can you provide some more information on what wasn't working properly before your change?
This user had success writing the chat in Persian: https://github.com/danielpetri1/bbb-recording-exporter/issues/39

After some investigation, librsvg (and therefore FFmpeg when rendering the video) seems to struggle with RTL text. There are a few open issues about that on librsvg, is that wha

[2021-09-17 10:23] hostbbb opened #51 "client side export slides, gets div by 0 in unique function"
CC", begin=5049.5, end=11482.0, width=1600.0, height="1200">]
Traceback (most recent call last):
        3: from ../../export_slides.rb:261:in `<main>'
        2: from ../../export_slides.rb:254:in `export_pdf'
        1: from ../../export_slides.rb:230:in `unique_slides'
../../export_slides.rb:230:in `/': divided by 0 (ZeroDivisionError)

If i comment out the unique function,  annotates_slides ge

[2021-09-17 11:13] danielpetri1 commented on #51
Hi, thanks for pointing this out, I've just pushed the fix.

I had forgotten these two lines in the code when debugging, you can either pull the fixed version or remove these two lines:
`p slides`
`i = 1/0`

[2021-09-17 11:13] #51 closed

[2021-09-22 19:14] danielpetri1 commented on #49
Noted. Same applies for the poll results that are now sent in the video. Data is kept in a JSON file that would also need to be parsed and added to the chat canvas.

Have you seen this PR?
https://github.com/bigbluebutton/bbb-playback/pull/127

It is compatible with the exporter since it adds the externally shared videos to the deskshare.

[2021-09-22 19:15] danielpetri1 commented on #48
Reducing the CHAT_CANVAS_SIZE to 320 will also help you out with the CPU load.

[2021-09-23 10:49] Vladbooka opened #52 "The script does not start"
Hey!
Thanks for your project, it helps a lot.
we are using BBB and moodle together, and the resulting video file is available in moodle, but the URL in the metadata.xml file contains an invalid link. the script makes the address like moodle, and we fixed it right in the script. changed # {hostname} to the address of the BBB server.
 line 174 in export_presentation.rb
 metadata.xpath ('recording /

[2021-09-23 13:43] danielpetri1 commented on #52
Hi Vlad,
Thanks for reaching out. The script has not been tested when integrated in Moodle, only Greenlight. I am glad to hear you found a quick fix that I can implement and share with others.

Is the normal presentation accessible through Moodle? If so that's surprising since the hostname is taken from there... could you please share a screenshot of you're now accessing the video file? Did a butt

[2021-09-23 14:05] Vladbooka commented on #52
the third link to the Video is highlighted because it was converted before the script was fixed and moodle marked it as unreadable when checking it.
after conversion, moodle reads all options for recording a presentation and displays them on the page.
![image](https://user-images.githubusercontent.com/70394501/134521128-d0bd5825-e426-44ea-a810-85ac38793e9b.png)

[2021-09-25 04:04] dqcuong93 opened #53 "How to delete the exported files?"
Hi,
I would like to know if is there any way to delete these exported files? I have set up BBB to delete files if older than 45 days, so when the file is deleted, what will happen with the exported file?
And thank you so much for this great work, it saves me a lot of time.

[2021-09-25 10:22] danielpetri1 commented on #53
Hi @dqcuong93,
I'm not sure if I understand your question, but if you delete the recording, the exported video file/PDF will be deleted too, just  as is the case with the other formats (e.g. presentation) provided by BBB.

[2021-09-28 16:57] dqcuong93 commented on #53
Sorry for the late reply, I have been busy with Canvas because the whole database is lost, and my client is not happy about that. Thank you for your answer, I understand now.

[2021-09-28 17:12] #53 closed

[2021-10-03 07:00] SaeedFazlollahzadeh opened #54 "translation missing: fa_IR.recording.format.Video"
Hello,

I added script but the `Video` button is in English while my site language is Persian (fa_IR).
When I hover over the button, I see this message:

What string should I add to my language yml file?
Is adding said in https://github.com/danielpetri1/greenlight/commit/72c2165e4a504aa40e116a83864de36dea540b65 enough?

Regards,
Saeed

[2021-10-05 21:05] danielpetri1 commented on #54
Hi Saaed,
Can you change the contents of line 179 in the code to say "video" instead of "Video"? It should pick up the correct locale without modifying any language file. Can you confirm?

Regards,
Daniel

[2021-10-05 21:48] #54 closed

[2021-10-07 07:39] GhaziTriki opened #55 "Add the ability to show the thumbnails"
Showing the thumbnails like the playback does helps knowing our position in the recording. It could be made optional.

[2021-10-07 11:17] danielpetri1 commented on #55
Hi @GhaziTriki,
The exported video includes MP4 chapter marks which in essence recreate the thumnails depending on the video player being used (e.g. Apple's shows the slide images in the chapter marks, while VLC only shows a list)

Still, burning the chapter marks into the video could probably be achieved by cropping a SVG file with the thumbnails as is done with the chat.

Thanks for your suggest

[2021-10-15 12:17] highlando opened #56 "`captions.json` is `html` and error when parsing almost empty xml file"
Hi Daniel,
didn't think of a better way to get in touch with you.
I was trying to use your scripts to export a BBB recording.

However, ....

with `ruby download_client.rb` I run into an JSON parsing error in line `39`
[code]
In fact, this `captions.json` file looks not much like a json file: `<!doctype html><html lang="en"><head><meta charset="utf-8"/><link rel="icon" href="/playback/presentation

[2021-10-15 14:47] highlando commented on #56
Hi,

Thanks for the reply. Since other people are involved, I don't want to share the recording too publicly. Would you mind reaching out to me by email? ***@***.***

Am 15. Oktober 2021 15:57:37 MESZ schrieb Daniel Petri Rocha ***@***.***>:

[2021-10-18 14:58] highlando commented on #56
The version of BBB is 2.3.14

[2021-10-18 15:23] jpmirandaa opened #57 "Upgrading bbb-recording-exporter to the last version Oct'07 the link to download the mp4 file is not complete."
Hi, Daniel.

After upgrading to the last version (October, 07 2021) from the second one (June, 16) now appears (for instance on demo10.jsp) a new link called 'video', near the 'presentation' link, to download the 'meeting.mp4' file but the URL is not complete. The domain portion is missing.

Looking for a solution I found the 'metadata.xml' file into  /var/bigbluebutton/publish/video/'MeetingID'/m

[2021-10-19 16:37] rabser opened #58 "The playback URL is built with the wrong items"
Into the file export_presentation.rb the function that adds the greenlight button is built with the wrong items fixed protocol and wrong hostname.
This code is valid only for a greenlight installation on the same BBB server, but If you connect to BBB with another service (e.g. Moodle), the video URL is broken.

Following is the right code that builds the URL in the metadata.xml correctly, by using

[2021-10-19 20:31] jpmirandaa commented on #57
Hi all.
Thank you so much, Vladbooka. It works perfectly now.
Thanks a lot Daniel for your great and useful development.
JP

[2021-10-19 20:38] rabser commented on #58
My fault, but I'm not able to submit a pull-request, sorry.

[2021-10-19 21:52] danielpetri1 commented on #58
No problem, just asking since it would list you as a collaborator and thus give proper credits to your work =)

[2021-10-21 13:58] rabser commented on #58
Thanks to you for the time spent in trying it!

[2021-10-21 15:16] jpmirandaa commented on #57
Oh, I am very sorry, @rabser. :blush:
Thank you to pointing me my mistake.
Best regards.
JP

[2021-11-12 22:16] ka7 opened #60 "how? set background-color"
hi,

it might be usefull, to set a non-white backgroundcolor. (like black)
to me it sounds more natural (like the black bars on top and bottom, for movies in TV.
... how ?

[2021-11-12 22:22] ka7 opened #61 "improvement: dowload_client: id and servername as parameter"
Hi,

i patched (ugly) my version, so I can pass servername and recording-id as parameter. ( argv[0] ... )
´ruby download_client.rb  bbb.example.net  asdfasdfasdf-1234´

with that, its easier if you have multiple recordings on different servers. ( getting videos from a bbb@scale )

with that, scripting gets easier.

for myself, i have a file with
name-of-recoring;servername;recording_id

and a bit

[2021-11-12 22:31] ka7 opened #62 "error, when recording contains no desksharing"
Hi,

(using download_client)
I had issues, when a recording did not contain a desksharing.mp4 file.
the download_client ended up with errors and a zero-byte desksharing.mp4 file.
had to play around with exluding/including that in the array to get all the files.

export_presentation ended in an error.

This can happen, when you upload slides, start recording, just work with sildes, stop recording;

[2021-11-15 13:12] danielpetri1 commented on #60
Hi, you can check out the PR that has been submitted. However, keep in mind that it will not show properly for recordings with screen sharing videos.

[2021-11-15 13:12] #60 closed

[2021-11-15 13:14] danielpetri1 commented on #62
You need to remove the deskshare.mp4 file from the files being downloaded in the array. This is mentioned in the README file.

[2021-11-15 13:14] #62 closed

[2021-11-15 13:15] danielpetri1 commented on #61
Hi, thanks for your suggestion. This has already been fixed in [here](https://github.com/danielpetri1/bbb-recording-exporter/issues/57#issuecomment-947103406). Feel free to submit a PR.

[2021-11-15 13:15] #61 closed

[2021-12-09 09:35] ccomincini opened #63 "Gem Errors -> cannot export presentation to mp4"
trying to export a presentation give errors:

/usr/lib/ruby/vendor_ruby/rubygems/defaults/operating_system.rb:10: warning: constant Gem::ConfigMap is deprecated
/usr/lib/ruby/vendor_ruby/rubygems/defaults/operating_system.rb:29: warning: constant Gem::ConfigMap is deprecated
/usr/lib/ruby/vendor_ruby/rubygems/defaults/operating_system.rb:30: warning: constant Gem::ConfigMap is deprecated
/usr/lib/

[2021-12-13 11:47] danielpetri1 commented on #63
Hi @ccomincini, did you place the file `presentation.rb` in the post_publish folder?

[2021-12-13 13:33] hostbbb commented on #63
have you successfully converted any recordings with this server, or is this an exception with others converting fine?

[2021-12-16 08:52] msh13792 opened #65 "export not working"
hi
after  updated to new change the export process not working and when manually run it only  message me like this :
/usr/lib/ruby/vendor_ruby/rubygems/defaults/operating_system.rb:10: warning: constant Gem::ConfigMap is deprecated
/usr/lib/ruby/vendor_ruby/rubygems/defaults/operating_system.rb:29: warning: constant Gem::ConfigMap is deprecated
/usr/lib/ruby/vendor_ruby/rubygems/defaults/operating

[2021-12-16 12:13] danielpetri1 commented on #65
Hi @msh13792,
Are you on BBB 2.4? This converter is currently for 2.3 only.

[2021-12-16 12:58] adamjenkins commented on #65
Hi, I'm on 2.3 and am having the same issue. Although, all I get is the 4 deprecated notices:

/usr/lib/ruby/vendor_ruby/rubygems/defaults/operating_system.rb:10: warning: constant Gem::ConfigMap is deprecated
/usr/lib/ruby/vendor_ruby/rubygems/defaults/operating_system.rb:29: warning: constant Gem::ConfigMap is deprecated
/usr/lib/ruby/vendor_ruby/rubygems/defaults/operating_system.rb:30: warning

[2021-12-16 13:02] danielpetri1 commented on #65
Hi @adamjenkins, thanks for the feedback. The warning is harmless.
I've just merged the PR by @germanocaumo that should make the export work once you update it. Would you mind giving it a try? Thanks!

[2021-12-16 13:04] adamjenkins commented on #65
Wow, thanks so much. Will do right away and report back. Standby...

[2021-12-16 13:33] adamjenkins commented on #65
@danielpetri1 That has indeed fixed the problem. Thank you very much for your great work!

One note, I had to run bbb-record --rebuild to set the fix in motion. Running presentation.rb alone directly as the bigbluebutton user didn't work. Hence it rebuilt everything and my reply comes a little late.

Thanks again!

[2021-12-16 14:14] danielpetri1 commented on #65
@adamjenkins Awesome, great to hear. Thanks for the troubleshooting steps!

[2021-12-16 17:02] jpmirandaa opened #66 "December, 05 version fails rendering a 92 minutes meeting"
Hi, all.
I have recently updated to BBB 2.3.16 and **bbb-recorging-exporting** from October, 07 version to December, 05 version.
I tested to render a one minute meeting and the result was OK.
Yesterday I recorded a 92 minutes meeting and the render was failed. The meeting.mp4 video file did not exist.

I tried to re-render the meeting by **./presentation.rb -m <meeting_id>** code and it was failed

[2021-12-17 19:02] jpmirandaa commented on #66
Hi, again.

I have just upgrade to new December, 16 version. I did not test rendering a new meeting yet but trying to render a meeting recorded by the code ./presentation.rb -m <meeting_id> and I have the same fail result.

Otherwise, putting the files of October, 07 version and rendering by ./export_presentation.rb -m <meeting_id> code the meeting.mp4 video file is OK.

The output of those both v

[2021-12-18 13:34] danielpetri1 commented on #66
Hi @jpmirandaa, thanks for the in-depth testing and feedback as usual. I can't determine the cause from the console output -- would you mind sharing the output of `/var/log/bigbluebutton/post_publish.log`?

[2021-12-18 13:35] danielpetri1 commented on #65
@msh13792, can you please post the output of `/var/log/bigbluebutton/post_publish.log`?

[2021-12-18 18:08] jpmirandaa commented on #66
Don't mention it, Daniel.
Thanks a lot to you for this useful development.

Of course, here are the files.
The file called post_publish.log1.txt belongs to the first thread described.
The post_publish.log2.txt file belongs  to the second thread.

Note that these two files belong to two different BBB servers as well.

Best regards.
JP

[post_publish.log1.txt](https://github.com/danielpetri1/bbb-rec

[2021-12-19 00:30] danielpetri1 commented on #66
Hi @jpmirandaa,
So it looks like to me that the videos have been correctly rendered since the paths are listed in the post publish logs. Can you play those files back?

`/var/bigbluebutton/published/presentation/e143527bbdb34a0d74bbe935679191b30733facf-1639513284821/meeting.mp4``

`/var/bigbluebutton/published/presentation/4a91cd7ff05a7b509826d0c9c66279b3bd05ff91-1622579659037/meeting.mp4`

I'm un

[2021-12-19 14:00] jpmirandaa commented on #66
Daniel,

Perhaps I could not explain the issue better.
Yes. I have those meeting.mp4 files but only after downgrade bbb-recording-exporter to October, 07 version.

Using the two recent December versions I could not manually generate the video files. The render process did not start at all. This is visible in the console output file of my opening post.

Please, read my posts carefully again where I

[2021-12-20 10:36] ccomincini commented on #63
Yes I did.
At the end of a million-failed-test session i rebuilt the bbb server, uninstalling and reinstalling everything and now tjre error is gone .

[2021-12-20 10:36] #63 closed

[2021-12-22 21:37] arpitest commented on #65
i've got it working on bbb 2.4 by manualy running:

root@bbb24:/usr/local/bigbluebutton/core/scripts/post_publish# ./presentation.rb -f presentation -l -m 920acbcd7a7d0f274d79189b7530f9b715e67117-1639997735776

without the '-f presentation' flag it does nothing...

and first i had to install 'trollop' module, which is obsoleted, but works:
# gem install trollop

[2021-12-24 13:17] danielpetri1 commented on #65
Thank you @arpitest!

[2021-12-24 13:17] #65 closed

[2022-01-02 12:51] #58 closed

[2022-01-02 12:51] #57 closed

[2022-01-02 12:54] danielpetri1 commented on #45
Since the script is part of the presentation workflow now, this should be working as requested now

[2022-01-02 12:54] #45 closed

[2022-01-02 12:55] #52 closed

[2022-01-11 13:01] danielpetri1 commented on #66
Hi JP,
Have you tried adding the `-f  presentation` flag when executing the script from the command line? The README had not reflected that change -- my bad.

Greetings

[2022-01-11 21:07] jpmirandaa commented on #66
Thank you very much for your answer, Daniel.

I'm afraid I didn't add that flag.
I'll try the latest recent version (Jan 11, 2022) and tell you.

By the way, do you plan to update bbb-recording-exporter to support BBB 2.4?

Greetings.
JP

[2022-01-12 19:55] danielpetri1 commented on #66
Hi JP,
Thanks for the quick response.
The Trollop gem changed its name to Optimist, which doesn't seem to be installed on your server given the logs.

Can you try installing it with `gem install optimist`? (maybe with sudo if that doesn't work)
Cheers

[2022-01-13 10:44] danielpetri1 commented on #48
Closed. Please reopen if the cronjob suggestion did not fullfill your needs or submit it as a feature request.

[2022-01-13 10:44] #48 closed

[2022-01-13 10:44] #4 closed

[2022-01-13 21:14] gpallaris opened #68 "Excessive Ram Usage"
For short recordings it works fine, but for sessions that have a duration more than 30 minutes the system (Ubuntu 18.04) use excessive amount of ram until it crashes.

Any suggestion?

Best
G

[2022-01-13 22:50] jpmirandaa commented on #66
Hi, Daniel.

I've installed Optimist version of Gem as you suggested.

This time trying to re-render manually a previous presentation using bbb-recording-exporter Jan 11th, 2022 version does not work.
And now trying with Dec 21st, 2021 version does not work either.

Please, look at the attach file of the console outputs.

[Installing optimist and test manually render.txt](https://github.com/daniel

[2022-01-13 23:28] jpmirandaa commented on #66
Great, Daniel. Thank you very much.

Now everything works correctly. Both cases, the automatic rendering of the mp4 file after a meeting and the manual re-rendering of a previously recorded presentation.

By the way, do you plan to update bbb-recording-exporter to support BBB 2.4?

Thanks a lot again and best regards.
JP

[2022-01-13 23:34] danielpetri1 commented on #66
Hi @jpmirandaa !
Glad to see everything working.
The script does seem to be compatible with BBB 2.4, except that it won't support the poll results / link to shared media in chat. I'm still waiting for an 'official' BBB review of the script before moving on with this.  Sorry I forgot to answer last time.

[2022-01-13 23:34] #66 closed

[2022-01-14 00:32] hostbbb commented on #68
@gpallaris do you have a public html5 playback link to one of the recordings that gives you issues.... we convert 5hr meetings all the time with no issues..  and our 24core ryzen converts  6 concurrently with 32gb ram.

If you provide the link, i will try here is see if we can replicate the error.

[2022-01-14 08:33] gpallaris opened #69 "Feature : Choose which Recordings to be exported (bbb-origin-server)"
I am trying to add an option to choose which Recordings to be exported as mp4.

The idea is to read "events.xml" file,check its origin eg. Greenlight, Moodle1, Moodle2, Wordpress1 etc and export mp4 for all the origins **except** ones from "Greenlight".  Please advise.

**My Edits at "presentation.rb" :**

require File.expand_path('../../../lib/recordandplayback', __FILE__)
require File.expand_pat

[2022-01-14 10:32] hostbbb commented on #69
https://github.com/danielpetri1/bbb-recording-exporter/blob/main/presentation.rb#L839

look a few lines below.   you can get the origin without looping thru the raw events.
look for origin in metadata
 meeting_name = metadata.xpath('recording/meta/meetingName').inner_text

example of getting the name,  just need to modify and get the bb-origin-server

[2022-01-14 10:40] hostbbb commented on #68
I have a dedicated record pipeline and set this to use all the cores on all the conversion servers.

THREADS = 24

you can look at yours and set it to 1,   will take much longer to process..    as i have set... conversions happen 6-10x of duration.
so 1hr recording takes about  just a few minutes.

[2022-01-14 13:40] gpallaris commented on #69
thanks a lot @hostbbb .

For anyone is interested to execute @danielpetri1 script for specific recordings only (based on server origin) add the following code in presentation.rb below [exit(0) if playback != 'presentation']

########################################################################
@published_files_origin_check = "/var/bigbluebutton/published/presentation/#{meeting_id}"

metadata =

[2022-01-14 13:52] danielpetri1 commented on #69
Hi @gpallaris, thanks for the suggestion. Thanks @hostbbb for suggesting a solution.

I'll leave it open since this could potentially be introduced as a CLI option.

Cheers!

[2022-01-14 14:05] gpallaris commented on #69
Excellent work @danielpetri1 ! Well done!

[2022-01-17 17:15] germanocaumo opened #70 "Bug: Text annotation box area is not respected"
When you create a text annotation it has a box area limiting the visibility in the slide
The script is not respecting it, all the text is shown even it goes beyond the box area:

Live/playback:
![image](https://user-images.githubusercontent.com/2726293/149812934-e9725c42-f3c4-4650-b605-568f7761fe6f.png)

Exported:
![image](https://user-images.githubusercontent.com/2726293/149812979-7772222e-a6c0-4

[2022-01-17 17:24] germanocaumo opened #71 "Bug: unicode emojis in the text annotation don't respect box width and are drawn with the text color"
Live/playback:
![image](https://user-images.githubusercontent.com/2726293/149813963-1940c895-4039-45cd-9a54-dba6909efacc.png)

Exported:
![image](https://user-images.githubusercontent.com/2726293/149813977-5801c2e3-9e73-4a62-bb7f-d7703856bfd1.png)

[2022-01-18 12:32] tecnomaster opened #72 "Congratulations and Thanks"
Hi Daniel,

This is just to say THANKS ... I have installed the recorder and it works just fine including all the BBB elements from a recorded session. I have also suscribed to your YouTube channel. Keep going as you have done ... regards from Venezuela and Colombia!.

Daniel (2)

[2022-01-18 17:29] danielpetri1 commented on #72
Hi @tecnomaster,
Thank you very much for your kind words, much appreciated. Glad to hear it's helping you out!

[2022-01-18 17:36] timmwille opened #73 "Security Analysis"
First of all a huge thank you @danielpetri1 for this amazing work.
I've also scanned through your thesis and must say this holds lots of potential for the future of BBB.

I am in the luxury position to have access to a server with this feature to test (I'm not the Sys Admin though) and while I was going through the individual parts of the work I was wondering if there was more detail on the securi

[2022-01-18 20:22] danielpetri1 commented on #73
Hi @timmwille! Thank you very much for your kind words.
I'm by no means a security expert but below are some points that I can bring up about this.

1. The video uses the same data as the playback does. So it is as safe as the browser playback is, so to speak. If anyone in the world has the meeting ID of the recording, they can generate the PDF + MP4 as well. You don't even need access to a server

[2022-01-20 17:14] msh13792 opened #74 "BigBlueButton 2.4"
hi
does it support on BigBlueButton 2.4?

[2022-01-20 17:49] #74 closed

[2022-01-27 02:51] adamjenkins opened #75 "Recent upgrade requires that gem "optimist" be installed"
Updating my BBB servers today and I found that the MP4 files stopped getting rendered. After running presentation.rb directly, got the log message that "optimist" wasn't loading. It seems this was added as a requirement recently.

If others run into the same issue, it can be simply resolved by installing "optimist".

sudo gem install optimist

[2022-01-27 11:39] gschwed commented on #75
Hi @adamjenkins,
I have the same problem.
Thanks for the hint with installing optimist.
Will try it.
Gerhard

[2022-02-14 20:34] jpmirandaa commented on #75
Hi Adam.
I had the same issue and now I'm viewing that other people have this issue as well. Ubuntu server 18.04.6 does not include the optimist gem installed by default.
Perhaps Daniel could include this attention point to the documentation for many other users who could have this issue too.
Thank you.
JP

[2022-02-15 10:29] hostbbb commented on #75
I fresh 2.4 bbb_Install will include optimist.   Looks like some upgrades from 2.3 to 2.4 don’t.

Can check your server “gem query –local”

Regards,
Stephen

From: Juan Pablo Miranda ***@***.***>
Sent: Monday, February 14, 2022 3:35 PM
To: danielpetri1/bbb-recording-exporter ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [danielpetri1/bbb-recording-exporter] Recent upgrade requires that gem

[2022-02-16 00:26] jpmirandaa commented on #75
Hi all,
Stephen, thanks for answering, however I don't know if I understand you well.
Definitely on my two last fresh installations of Ubuntu 18.04.6 Server one of them with BBB 2.4.3 and the other one with BBB 2.3.17, the optimist gem was not be installed by default, on both cases. I had to install it manually after that.
On both cases as well and once the optimist gem was manually installed, the

[2022-02-16 09:41] hostbbb commented on #75
I believe the the standard recording scripts need optimist as well..  dpkg shows it installed on my fresh 2.4.2 server. Are you using bbb-install as well?

[2022-02-21 23:06] jpmirandaa commented on #75
Hi again hostbbb

Yes, I installed BBB using the bbb-install.sh script.
One of them on a OVH server with Ubuntu Server 18.04.6 OS image  and the other one on a local server using a USB memory stick with Ubuntu Server 18.04.6 downloaded from Canonical Ubuntu Server site.
In both cases I had to install the Optimist Gem by the code 'sudo gem install optimist'.

Regards,
JP

[2022-02-22 10:23] danielpetri1 commented on #70
Hi! Nice catch.
This is relatively easy to fix: we can nest the text inside of a new SVG element that has the width and height of the text box.

[code]

[2022-02-23 17:26] danielpetri1 commented on #71
Hi Germano, thanks for pointing this out.
I've been playing around with that and the only possible solution I see is to first export the text as HTML, rasterize it as an image, and then overlay it onto the video.
This can be achieved with wkhtmltoimage and could also be used to make the chat look better.
It's also faster and more precise than the measure string function.

[2022-03-10 06:33] msh13792 opened #76 "Error on process for prepare mp4"
hi
when i try this error was occurred
 ruby /usr/local/bigbluebutton/core/scripts/post_publish/export_presentation.rb -m b94066ba8dca436b69f3f386e7c3867006091b3f-1645771898780
/usr/lib/ruby/vendor_ruby/rubygems/defaults/operating_system.rb:10: warning: constant Gem::ConfigMap is deprecated
/usr/lib/ruby/vendor_ruby/rubygems/defaults/operating_system.rb:10: warning: constant Gem::ConfigMap is depre

[2022-04-14 07:57] pielonet opened #77 "bbb-record --delete/--rebuild/--deleteall ignores "video" folder"
Hi,

Although BBB API's getRecordings call lists mp4 recordings of type "video" present in subfolders of `/var/bigbluebutton/published/video/`, BBB script `bbb-record` ignores this folder and actions like `bbb-record --deleteall` do not delete subfolders of this folder. This leads to BBB API falsly listing recordings that the administrator thought he/she had deleted.

It looks like `bbb-record` ex

[2022-04-14 10:02] danielpetri1 commented on #77
Hi Thierry,
thanks for reporting this inconsistency on this repo as well. I'll be in touch with BBB developers to hopefully implement this script as a proper format.

I think a dirty fix for DELETEALL would be manually adding
`rm -rf "${PUBLISHED_DIR:?}"/video/*`
on this line:
https://github.com/bigbluebutton/bigbluebutton/blob/e905d08f3db596e81ce1006b58baeaef35665496/bigbluebutton-config/bin/bbb-

[2022-05-11 09:42] pielonet opened #78 "Manually launching presentation.rb to build mp4 fails"
Hi,

When trying to manually build mp4, I get the following error :

[code]
It looks like the library builder.rb is missing from path.
Is a particular execution environment needed ?

Kind regards,
Thierry

[2022-05-23 14:15] danielpetri1 commented on #78
Hi Thierry,
Sorry for the wait.

I haven't been able to replicate this issue, but a particular execution environment shouldn't be needed.
Does (re-)installing the builder gem (maybe as the BigBlueButton user) fix the issue?

[2022-05-23 16:21] danielpetri1 commented on #76
Hi,
Trollop is not a required gem in the script anymore, it was changed to Optimist.
Are you using the latest version of the code?
Kind regards,
Daniel

[2022-05-30 13:53] pielonet commented on #78
Hi Daniel,

The following statement worked as expected, using **bundle** (so that ruby uses gems in the local "vendor" directory) in folder `/usr/local/bigbluebutton/core` :

[code]

Please update your README.md file accordingly !

Kind regards,
Thierry

[2022-05-30 13:57] danielpetri1 commented on #78
Hi @pielonet,
Glad you got is solved!
Thanks for reaching out again together with the fix, as this will help others out in the community.

Cheers

[2022-09-16 16:20] Thyroxine commented on #75
Hi, thanks for the script.
I've installed it to BBB v2.5.4

I had to install these gems and system packages to make it work:

[code]
May be it shoult be added to README, or I'm doing something wrong?

[2022-09-17 16:25] danielpetri1 commented on #75
Hello @Thyroxine! Thanks for the instructions. I'll add them to the README unless you want to submit them in a PR so that you can show up as a contributor.

[2022-09-17 18:01] Thyroxine commented on #75
Thanks for the suggestion, I've created a PR :smile:

[2022-09-17 18:38] #75 closed

[2022-09-17 18:38] danielpetri1 commented on #75
Awesome stuff, thank you! Closing this.